.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.banner-li {
  width: 400px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  list-style-type: none;
  margin-right: 20px;
}

.h1 {
  font-size: 20px;
}

.p {
  font-size: 15px;
}
.image-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
  width: 70px;
  height: 77px;
}
/* Write CSS code here. */
