* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  min-height: 100vh;
  background-color: #f4faff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin-top: 20px;
}
.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  padding: 10px;
}

.head {
  font-size: 40px;
  color: #171f46;
}
.para {
  font-size: 20px;
  color: #64748b;
}
/* Write CSS code here */
